# Conexión a PostgreSQL (Supabase pooler)
DB_USER=postgres
DB_HOST=aws-0-us-west-1.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=TU_CONTRASEÑA_DE_BD
DB_PORT=6543
DB_SSL=true

# JWT
JWT_SECRET=TU_SECRETO_LARGO_Y_ALEATORIO
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000